/* http://meyerweb.com/eric/tools/css/reset/ */
html, body,
h1, h2, h3, h4, h5, h6, p,
a, em, b, u, i, small, strong,
img, ul, li,
article, footer, header,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header {
    display: block;
}



/* bryanricker.com */
body {
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222;
    background: #fefefe;
    padding: 10px;
}


a { 
    color: #0088cc;
    text-decoration: underline;
}
    a:hover {
        color: #005580;
    }

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


p, ul { 
    padding-bottom: 20px;
}

p, li {
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: disc inside;
    padding-left: 10px;
}



h1 { 
    font-size: 2.2em; 
    margin-bottom: 10px;
}

    h1 a {
        color: #222;
        text-decoration: none;
    }

        h1 a:hover {
            color: #222;
            text-decoration: underline;
        }

h3 {
    font-size: 1.2em; 
    margin-bottom: 10px;
    color: #999;
}

h6 {
    color: #999;
    font-size: 1.1em;
    margin-bottom: 10px;
}


article {
    width: auto;
    max-width: 450px;
    margin: 10px auto;
    border-bottom: 1px solid #ccc;
}
    
    article header {
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }


@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1em;
    }

    h6 {
        font-size: 1em;
    }
}
